WebApiTest/Connected Services/ServiceClovek/ServiceClovek1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50874/ServiceClovek.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfDb" />
  <xs:element name="GetClovek">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClovekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfDb" minOccurs="0" name="GetClovekResult" nillable="true" type="q1:ClovekResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClovek">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfDb" minOccurs="0" name="clovek" nillable="true" type="q2:Clovek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClovekResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClovek">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfDb" minOccurs="0" name="clovek" nillable="true" type="q3:Clovek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClovekResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClovek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClovekResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>