WebApiTest/Connected Services/SClovek/ServiceClovek2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClovek">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clovek" nillable="true" type="tns:Clovek" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClovek" nillable="true" type="tns:ArrayOfClovek" />
  <xs:complexType name="Clovek">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Jmeno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clovek" nillable="true" type="tns:Clovek" />
</xs:schema>