WebApiTest/Connected Services/SClovek/ServiceClovek.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceClovek" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50874/ServiceClovek.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50874/ServiceClovek.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50874/ServiceClovek.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfDb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceClovek_GetClovek_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClovek" />
  </wsdl:message>
  <wsdl:message name="IServiceClovek_GetClovek_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClovekResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceClovek_InsertClovek_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertClovek" />
  </wsdl:message>
  <wsdl:message name="IServiceClovek_InsertClovek_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertClovekResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceClovek_UpdateClovek_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClovek" />
  </wsdl:message>
  <wsdl:message name="IServiceClovek_UpdateClovek_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClovekResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceClovek_DeleteClovek_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClovek" />
  </wsdl:message>
  <wsdl:message name="IServiceClovek_DeleteClovek_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClovekResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceClovek">
    <wsdl:operation name="GetClovek">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClovek/GetClovek" message="tns:IServiceClovek_GetClovek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClovek/GetClovekResponse" message="tns:IServiceClovek_GetClovek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertClovek">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClovek/InsertClovek" message="tns:IServiceClovek_InsertClovek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClovek/InsertClovekResponse" message="tns:IServiceClovek_InsertClovek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClovek">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClovek/UpdateClovek" message="tns:IServiceClovek_UpdateClovek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClovek/UpdateClovekResponse" message="tns:IServiceClovek_UpdateClovek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClovek">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClovek/DeleteClovek" message="tns:IServiceClovek_DeleteClovek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClovek/DeleteClovekResponse" message="tns:IServiceClovek_DeleteClovek_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceClovek" type="tns:IServiceClovek">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClovek">
      <soap:operation soapAction="http://tempuri.org/IServiceClovek/GetClovek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertClovek">
      <soap:operation soapAction="http://tempuri.org/IServiceClovek/InsertClovek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClovek">
      <soap:operation soapAction="http://tempuri.org/IServiceClovek/UpdateClovek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClovek">
      <soap:operation soapAction="http://tempuri.org/IServiceClovek/DeleteClovek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceClovek">
    <wsdl:port name="BasicHttpBinding_IServiceClovek" binding="tns:BasicHttpBinding_IServiceClovek">
      <soap:address location="http://localhost:50874/ServiceClovek.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>